body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 50em;
}

.logo {
  font-size: 24px;
}

.navigation-items li {
  list-style: none;
}

.navigation-items li a {
  color: black;
  text-decoration: none;
}

.intro-name {
  font-size: 52px;
}

.intro-job {
  font-size: 20px;
}
